/! build:css /css/style.css
|
    <!-- bower:css -->
    <link rel="stylesheet" href="vendor/normalize.css/normalize.css" />
    <!-- endbower -->

link rel="stylesheet" href="/css/style.css"
/! endbuild
